body {
	background-color: #8f0303;
	font-family: Verdana;
	color: #ffde00;
}

#logo {
  width: auto;
  max-width: 1024px;
  height: auto;
  max-height: 100%;
  margin: auto;
  display: block;
}

#btnStart {
	color: #FFFFFF;
	border: 2px solid #ffffff;
	background-color: #8f0303;
	width: 10%;
	height: 10%;
	display: block;
	position: absolute;
	top: 43%;
	margin-left: 43%;
	font-size: 2em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#btnStart:hover {
	background-color: #ac2222;
	cursor: pointer;
}

#btnWrench {
	
	position: absolute;
	width: 30px;
	margin-left: 72%;
}

#configs {
	position: absolute;
	display: none;
	background-color: #FFFFFF;
	margin-left: 62%;
	margin-top: 30px;
}

#contentsQuestion {
	display:none;
}
#question{
	width: 50%;
	margin: auto;
	text-align: center;
	
}

#questionTitle {
	font-size: 4em;
	font-weight: bold;
}

#answerList {
	list-style: none;
}

.answerElement {
	border-color: #590000;
	border-width: 3px;
	border-style: solid;
	
	color: #f1cfcf;
	font-size: 2em;
	font-weight: bold;
	background-color: #750000;
	margin: 5px;
	padding: 5px;
}

#questionTimer {
	
	font-size: 1.5em;
	margin-left: 6%;
}

#contentsPhoto {
	width: 50%;
	margin: auto;
	text-align: center;
	display: none;
}
#photoTitle {
	font-size: 4em;
	font-weight: bold;
}

.photoImg {
	max-width: 100%; 
}

#contentsGraph {
		width: 50%;
	margin: auto;
	text-align: center;
	display: none;
}

#graphTitle {
	font-size: 4em;
	font-weight: bold;
}

#graphImage {
	max-width: 100%; 
}
