body {
	background-color: #8f0303;
	font-family: Verdana;
}

#logo {
  width: auto;
  max-width: 1024px;
  height: auto;
  max-height: 100%;
  margin: auto;
  display: block;
}

#btn_start {
	color: #FFFFFF;
	border: 2px solid #ffffff;
	background-color: #8f0303;
	width: 10%;
	height: 10%;
	display: block;
	position: absolute;
	top: 43%;
	margin-left: 43%;
	font-size: 2em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#btn_start:hover {
	background-color: #ac2222;
	cursor: pointer;
}

#btnWrench {
	
	position: absolute;
	width: 30px;
	margin-left: 72%;
}

#configs {
	position: absolute;
	display: none;
	background-color: #FFFFFF;
	margin-left: 62%;
	margin-top: 30px;
}
